<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:fb="http://www.facebook.com/2008/fbml" xmlns:og="http://opengraph.org/schema/">
	<head>
		<meta property="fb:page_id" content="43929265776">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta property="og:title" content="{{ siteInfo.name }} | {{ email.subject }}">
		<title>{{ siteInfo.name }} | {{ email.subject }}</title>
		<style type="text/css">
			body{
			background-color:#ffffff;
			}
			#totalTable{
			background-color:#ffffff;
			}
			#shareTable{
			border-bottom:2px solid #eeeeee;
			padding-top:10px;
			padding-bottom:10px;
			}
			a.browserView{
			font-size:12px;
			font-family:Helvetica,Arial,sans-serif;
			color:#000000;
			text-decoration:none;
			}
			td#share{
			font-size:12px;
			font-weight:bold;
			font-family:Helvetica,Arial,sans-serif;
			}
			a.share{
			font-size:12px;
			font-weight:bold;
			font-family:Helvetica,Arial,sans-serif;
			color:#000000;
			text-decoration:none;
			}
			#headerTable{
			padding-top:70px;
			padding-bottom:15px;
			}
			.date div{
			font-weight:bold;
			font-size:20px;
			font-family:Helvetica,Arial,sans-serif;
			}
			#titleTable{
			padding-top:25px;
			padding-bottom:25px;
			}
			#downloadIcon{
			padding-right:15px;
			}
			.theDownloadTitle div{
			font-weight:bold;
			font-size:36px;
			font-family:Helvetica,Arial,sans-serif;
			line-height:150%;
			}
			#topStoriesTitleTable{
			padding-top:35px;
			}
			#imageTable{
			padding-top:20px;
			}
			#topStoryWrapper{
			padding-bottom:30px;
			}
			.heading div{
			color:#000000;
			font-weight:bold;
			font-size:21px;
			font-family:Helvetica,Arial,sans-serif;
			line-height:150%;
			}
			.standardText div{
			color:#000000;
			font-size:16px;
			font-family:Helvetica,Arial,sans-serif;
			line-height:150%;
			}
			.standardText a{
			color:#106afa;
			text-decoration:none;
			}
			#fascinatingWrapper{
			padding-bottom:20px;
			}
			#fascinatingTable{
			padding-top:15px;
			padding-bottom:15px;
			}
			table.fascinatingStoryTable{
			padding-top:15px;
			padding-bottom:15px;
			}
			#quoteWrapperTable{
			border-top:1px solid #000000;
			}
			#quoteTitleTable{
			padding-top:15px;
			padding-bottom:35px;
			}
			td.quoteMark{
			padding-right:15px;
			}
			.quoteMark{
			color:#000000;
			font-size:50px;
			font-family:Helvetica,Arial,sans-serif;
			line-height:100%;
			}
			td.quote{
			padding-bottom:20px;
			}
			.quote div{
			color:#000000;
			font-size:36px;
			font-family:Helvetica,Arial,sans-serif;
			line-height:109%;
			}
			#quoteTable{
			padding-bottom:50px;
			}
			#likeTable{
			border-top:4px solid #000000;
			padding-top:25px;
			padding-bottom:25px;
			}
			#likeTitle{
			padding-bottom:20px;
			}
			#authorTable{
			border-top:1px solid #000000;
			padding-top:45px;
			padding-bottom:40px;
			}
			#avatar{
			padding-right:30px;
			}
			#prefsTable{
			border-top:1px solid #000000;
			padding-top:25px;
			padding-bottom:20px;
			}
			a.selfEmail{
			color:#000000;
			text-decoration:none;
			}
			#addressTable{
			border-top:1px solid #000000;
			padding-top:25px;
			padding-bottom:40px;
			}
			td#followUs{
			padding-bottom:20px;
			}
			#glyphTable{
			padding-bottom:10px;
			}
			@media (max-width:645px){
			table.wrapper{
			width:100% !important;
			}
			}	@media (max-width:645px){
			img.imgMax{
			width:100% !important;
			height:auto !important;
			}
			}	@media (max-width:425px){
			.hideSmall{
			display:none;
			}
			}
		</style>
	</head>
	<body id="archivebody" leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0" style="background-color: #ffffff;">
		<img src="{{ pixel }}"/>
		<center>
			<table border="0" cellpadding="10" cellspacing="0" height="100%" width="100%" id="totalTable" style="background-color: #ffffff;">
				<tbody>
					<tr>
						<td align="center" valign="top">
							<table border="0" cellpadding="0" cellspacing="0" width="600" class="wrapper">
								<tbody>
									<tr>
										<td valign="top">

											<!-- ====================================== -->
											<!--         Begin of Email Sections        -->
											<!-- ====================================== -->



											<!-- Top Section Intro -->
											<table border="0" cellpadding="0" cellspacing="0" width="100%" id="topStoriesTitleTable" style="padding-top: 15px; height:20px;">
												<tbody>
													<tr>
														<td valign="middle" align="center" class="date">

															<!-- DATE -->
															<div style="color: #a9a9a9;font-size: 12px;font-weight:normal;font-family: Helvetica,Arial,sans-serif; float:left; display:inline;">
															<i>{{ date }}</i>
															</div>
															<!-- END DATE -->
															
															<!-- VIEW ONLINE -->
															<div style="color: #000000;font-size: 12px;font-family: Helvetica,Arial,sans-serif;line-height: 150%; font-weight:normal; float:right; display:inline;">
																<a href="http://{{ site.domain }}">View Issue Online</a>
															</div>
															<!-- END VIEW ONLINE -->

														</td>
													</tr>
												</tbody>
											</table>
											<!-- END Top Section Intro -->


											{% if header %}
											<!-- Title Header -->
											<table border="0" cellpadding="0" cellspacing="0" width="100%" id="headerTable" style=";padding-top: 25px;padding-bottom: 5px;">
												<tbody>
													<tr>
														<td valign="top" align="left">
															<table border="0" cellpadding="0" cellspacing="0" width="100%">
																<tbody>
																	<tr>
																		<td valign="middle" align="center">

																			<!-- LOGO -->
																			<img src="http://{{ site.domain }}{{ siteInfo.logo.url }}" width="400" border="0" alt="{{ siteInfo.name }}">
																			<!-- END LOGO -->

																		</td>
																	</tr>
																</tbody>
															</table>
														</td>
													</tr>
												</tbody>
											</table>
											<!-- END Title Header -->
											{% endif %}



											<!-- Intro Image  -->
											{% if introimg %}
											<table border="0" cellpadding="0" cellspacing="0" width="100%" id="imageTable" mc:hideable="hideable_1" mchideable="hideable_1" style="padding-top: 20px;">
												<tbody>
													<tr>
														<td valign="top" align="left">
															<img src="http://{{ site.domain }}{{ introimg }}" alt="" border="0" style="margin: 0; padding: 0;max-width:600px;" class="imgMax"><br>
															<label style="display:block; text-align:center; width:100%; font-size:12px; color:#999; margin-top:6px;font-family: Helvetica,Arial,sans-serif;"><span>Messages left in chalk on the sidewalk in front of the Islamic Center of Nashville.</span></label>
														</td>
													</tr>
												</tbody>
											</table>
											{% endif %}
											<!-- END Intro Image -->
											
											
											{% if intro %}
											<table border="0" cellpadding="0" cellspacing="0" width="100%" id="fascinatingWrapper" mc:hideable="hideable_2" mchideable="hideable_2" style="padding-top:10px; padding-bottom:30px;">
												<tbody>
													<tr>
														<td valign="top" align="left">
															<table border="0" cellpadding="0" cellspacing="0" width="100%" class="topStoryTable" mc:repeatable="repeat_1" mc:repeatindex="0" mc:hideable="hideable_repeat_1_1" mchideable="hideable_repeat_1_1">
																<tbody>
																	<tr>
																		<td valign="top" class="standardText">
																			<div style="color: #000000;font-size: 16px;font-family: Helvetica,Arial,sans-serif;line-height: 150%;">
																				<div style="text-align: left;color: #000000;font-size: 16px;font-family: Helvetica,Arial,sans-serif;line-height: 150%;">
																				{% for i in intro %}
																					{{ i.content|safe }}
																				{% endfor %}
																				</div>
																			</div>
																		</td>
																	</tr>
																</tbody>
															</table>
														</td>
													</tr>
												</tbody>
											</table>	
											{% endif %}


<!--
											<table border="0" cellpadding="0" cellspacing="0" width="100%" id="fascinatingWrapper" mc:hideable="hideable_2" mchideable="hideable_2" style="padding-top:15px; padding-bottom:15px; background:#e8e8e8; margin-bottom:15px;">
												<tbody>
													<tr>
														<td valign="top" align="left">
															<table border="0" cellpadding="0" cellspacing="0" width="100%" class="topStoryTable" mc:repeatable="repeat_1" mc:repeatindex="0" mc:hideable="hideable_repeat_1_1" mchideable="hideable_repeat_1_1">
																<tbody>
																	<tr>
																		<td valign="top" class="standardText">
																			<div style="color:#606060;font-size: 16px;font-family: Helvetica,Arial,sans-serif;line-height: 150%; text-align:center;">
																				<span style="font-size:12px;">This week's Note brought to you by</span><br>
																				<strong style="font-size:22px;">🛠&nbsp;<a href="http://www.billfixers.com/#_a_nashvillenote" style="text-decoration:underline;">BillFixers</a>&nbsp;🛠</strong><br>
																				
																				<p style="width:80%;margin:15px auto 5px;">BillFixers is a Nashville startup that negotiates better prices for your TV, internet, and phone service. Save up to 35% on your bills at <a href="http://www.billfixers.com/#_a_nashvillenote" style="text-decoration:underline;">billfixers.com</a>.</p>
																			</div>
																		</td>
																	</tr>
																</tbody>
															</table>
														</td>
													</tr>
												</tbody>
											</table>
-->


											<!-- News -->
											{% if briefs|length > 0 %}
											<table border="0" cellpadding="0" cellspacing="0" width="100%" id="topStoryWrapper" style="padding-top:30px; padding-bottom:30px;">
												<tbody>
													<tr>
														<td valign="top" align="left">
															<table border="0" cellpadding="0" cellspacing="0" width="100%" class="topStoryTable" mc:repeatable="repeat_1" mc:repeatindex="0" mc:hideable="hideable_repeat_1_1" mchideable="hideable_repeat_1_1" style="padding-bottom: 25px;">
																<tbody>
																	<tr>
																		<td valign="top" class="standardText">
																			<div style="color: #000000;font-size: 16px;font-family: Helvetica,Arial,sans-serif;line-height: 150%;">
																				<div style="text-align: left;color: #000000;font-size: 16px;font-family: Helvetica,Arial,sans-serif;line-height: 150%;">
																				{% for brief in briefs %}
																					{{ brief.content|safe }}

																					{% if not forloop.last %}<br>{% endif %}
																				{% endfor %}
																				</div>
																			</div>
																		</td>
																	</tr>
																</tbody>
															</table>
														</td>
													</tr>
												</tbody>
											</table>
											{% endif %}
											<!-- END News -->
											
											
											<!-- Newsletter Beats -->
											{% if beats|length > 0 %}
											<table border="0" cellpadding="0" cellspacing="0" width="100%" id="fascinatingWrapper" mc:hideable="hideable_2" mchideable="hideable_2" style="padding-bottom: 30px;">
												<tbody>
													<tr>
														<td valign="top" align="left">
															<table border="0" cellpadding="0" cellspacing="0" width="100%" id="fascinatingTable" style="padding-top:0; padding-bottom:5px;">
																<tbody>
																	<tr>
																		<td valign="top" class="heading">
																			<div style="color: #000000;font-weight: bold;font-size: 24px;font-family: Helvetica,Arial,sans-serif;line-height: 100%;">Beats</div>
																		</td>
																	</tr>
																</tbody>
															</table>
															<table border="0" cellpadding="0" cellspacing="0" width="100%" class="fascinatingStoryTable" mc:repeatable="repeat_2" mc:repeatindex="0" mc:hideable="hideable_repeat_2_1" mchideable="hideable_repeat_2_1" style="padding-bottom:15px; padding-top:0px;">
																<tbody>
																	<tr>
																		<td valign="top" class="standardText">
																			<div style="color: #000000;font-size: 16px;font-family: Helvetica,Arial,sans-serif;line-height: 150%;">
																				<ol style="margin-top:0;">
																				{% for beat in beats %}

																				<li>{{ beat.content|safe }}</li>

																			    {% endfor %}
																				</ol>
																			</div>
																		</td>
																	</tr>
																</tbody>
															</table>
														</td>
													</tr>
												</tbody>
											</table>
											{% endif %}
											<!-- END Newsletter Beats -->



											<!-- Entertainment -->
											{% if events|length > 0 %}
											<table border="0" cellpadding="0" cellspacing="0" width="100%" id="topStoryWrapper" style="padding-bottom: 30px;">
												<tbody>
													<tr>
														<td valign="top" align="left">
															<table border="0" cellpadding="0" cellspacing="0" width="100%" id="fascinatingTable" style="padding-top:20px; padding-bottom:5px;">
																<tbody>
																	<tr>
																		<td valign="top" class="heading">
																			<div style="color: #000000;font-weight: bold;font-size: 24px;font-family: Helvetica,Arial,sans-serif;line-height: 100%;">Events</div>
																		</td>
																	</tr>
																</tbody>
															</table>
															<table border="0" cellpadding="0" cellspacing="0" width="100%" class="topStoryTable" mc:repeatable="repeat_1" mc:repeatindex="0" mc:hideable="hideable_repeat_1_1" mchideable="hideable_repeat_1_1" style="padding-bottom: 25px;">
																<tbody>
																	<tr>
																		<td valign="top" class="standardText">
																			<div style="color: #000000;font-size: 16px;font-family: Helvetica,Arial,sans-serif;line-height: 150%;">
																				<div style="text-align: left;color: #000000;font-size: 16px;font-family: Helvetica,Arial,sans-serif;line-height: 150%;">
																				{% for event in events %}
																					{{ event.content|safe }}
																				{% endfor %}
																				</div>
																			</div>
																		</td>
																	</tr>
																</tbody>
															</table>
														</td>
													</tr>
												</tbody>
											</table>
											{% endif %}
											<!-- END Entertainment -->



											



											<!-- Quote Section -->
											{% if quotes|length > 0 %}
											<table border="0" cellpadding="0" cellspacing="0" width="100%" id="quoteWrapperTable" mc:hideable="hideable_3" mchideable="hideable_3" style="border-top: 1px solid #000000;">
												<tbody>
													<tr>
														<td valign="top" align="left">
															<table border="0" cellpadding="0" cellspacing="0" width="100%" id="quoteTitleTable" style="padding-top: 15px;padding-bottom: 35px;">
																<tbody>
																	<tr>
																		<td valign="top" class="heading">
																			<div style="color: #000000;font-weight: bold;font-size: 21px;font-family: Helvetica,Arial,sans-serif;line-height: 150%;">
																				Quote of the Week
																			</div>
																		</td>
																	</tr>
																</tbody>
															</table>
															{% for quote in quotes %}
															<table border="0" cellpadding="0" cellspacing="0" width="100%" id="quoteTable" style="padding-bottom: 50px;">
																<tbody>
																	<tr>
																		<td valign="top">
																			<table border="0" cellpadding="0" cellspacing="0" width="100%">
																				<tbody>
																					<tr>
																						<td valign="top" class="quote" style="padding-bottom: 20px;">
																							<div style="color: #000000;font-size: 36px;font-family: Helvetica,Arial,sans-serif;line-height: 109%;">
																								{{ quote.content|safe }}
																							</div>
																						</td>
																					</tr>
																					<tr>
																						<td valign="top" class="standardText">
																							<div style="color: #000000;font-size: 16px;font-family: Helvetica,Arial,sans-serif;line-height: 150%;">
																								–  {{ quote.subtitle }}<br>
																								&nbsp;
																							</div>
																						</td>
																					</tr>
																				</tbody>
																			</table>
																		</td>
																	</tr>
																</tbody>
															</table>
															{% endfor %}
														</td>
													</tr>
												</tbody>
											</table>
											{% endif %}
											<!-- END Quote Section -->



											<!-- Share Nudge -->
											<table border="0" cellpadding="0" cellspacing="0" width="100%" id="likeTable" style="border-top: 1px solid #000000;padding-top: 25px;padding-bottom: 25px;">
												<tbody>
													<tr>
														<td valign="top" align="left">
															<table border="0" cellpadding="0" cellspacing="0" width="100%">
																<tbody>
																	<tr>
																		<td valign="top" class="heading" id="likeTitle" style="padding-bottom: 20px;">
																			<div style="color: #000000;font-weight: bold;font-size: 21px;font-family: Helvetica,Arial,sans-serif;line-height: 150%;">{{ prompt }}?</div>
																		</td>
																	</tr>
																	<tr>
																		<td valign="top" class="standardText">
																			<div style="color: #000000;font-size: 16px;font-family: Helvetica,Arial,sans-serif;line-height: 150%;">
																				Forward this newsletter to a friend. <a href="http://{{ site.domain }}" style="color: #F90E1E;text-decoration: none;">Subscribe here</a> if this was forwarded to you.
																			</div>
																		</td>
																	</tr>
																</tbody>
															</table>
														</td>
													</tr>
												</tbody>
											</table>
											<!-- END Share Nudge -->



											<!-- Author Information -->
											{% if not email.author %}
											<table border="0" cellpadding="0" cellspacing="0" width="100%" id="authorTable" style="border-top: 1px solid #000000;padding-top: 45px;padding-bottom: 40px;">
												<tbody>
													<tr>
														<td valign="top" align="left" id="avatar" class="hideSmall" style="padding-right: 30px;">
															<img src="http://{{ site.domain }}{{ email.author.img.url }}" alt="" border="0" style="margin: 0; padding: 0;" widht="100px" height="100px">
														</td>
														<td valign="top" align="left" class="standardText">
															<div style="color: #000000;font-size: 16px;font-family: Helvetica,Arial,sans-serif;line-height: 150%;">
																{{ email.author.bio }}
																– {{ email.author.name }}
															</div>
														</td>
													</tr>
												</tbody>
											</table>
											{% endif %}
											<!-- END Author Information -->



											<!-- Unsubscribe Block -->
											<table border="0" cellpadding="0" cellspacing="0" width="100%" id="prefsTable" style="border-top: 1px solid #000000;padding-top: 25px;padding-bottom: 20px;">
												<tbody>
													<tr>
														<td valign="top" align="left" class="standardText">
															<div style="color: #000000;font-size: 16px;font-family: Helvetica,Arial,sans-serif;line-height: 150%;">
																You received this newsletter because you subscribed with the email address: <em><a href="mailto:{{ sub.email }}" class="selfEmail" style="color: #000000;text-decoration: none;">{{ sub.email }}</a></em><br>
																<br>
																<a href="http://{{ site.domain }}/v1/unsubscribe/{{ sub.hash_name }}" style="color: #F90E1E;text-decoration: none;">unsubscribe</a>
															</div>
														</td>
													</tr>
												</tbody>
											</table>
											<!-- END Unsubscribe Block -->
											
											

										</td>
									</tr>
								</tbody>
							</table>
						</td>
					</tr>
				</tbody>
			</table>
		</center>
	</body>
</html>